<% content_for :title do %>Fitbit CPI dashboard<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="lifetime" data-view="Lifetime"></div>
    </li>
	
  </ul>
  
</div>