<% content_for :title do %>Fitbit CPI dashboard<% end %>
<div class="gridster">
  <ul>
	<!--<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">-->
	  <!--<div data-id="fitbit" data-view="Fitbit"></div>-->
	<!--</li>-->
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
	  <div data-id="steps" data-view="Steps"></div>
	</li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="lifetime" data-view="Lifetime"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="active" data-view="Active"></div>
    </li>
	
  </ul>
  
</div>